/* CSS for header */

#Header{
align-content: center;
    width:100%;
    height: 60px;
    padding-bottom:60px;
    border-bottom: 1px solid #A9A9A9;
    background-color:#fff; 
}

#Nav ul {
  list-style: none;
  margin:0;
  padding:0;   
}

#Nav ul li{
  float:right;
}

#Nav ul li:hover{
  text-decoration:underline;
}

#Nav ul li a{
  text-decoration: none;
  font-size: 14px;
  color:#000;
  padding-left:12px;
  padding-right:12px;
} 

.dropdown .productsBtn{
  cursor:pointer;
  border:none;
  outline:none;
  background-color: inherit;  
}

.arrow{
  margin-bottom: 2px;
  border: solid black;
  border-width: 0px 2px 2px 0px;
  display:inline-block;
  padding:2px;    
  transform: rotate(45deg);
}

.Logo{
  position:relative;
  top:35px;
  max-height:80px;
  max-width: 200px;
}

/* End of CSS for header */

/* CSS for Checkout Page */


#checkoutBody {
    margin-left: 9%;
    margin-right:9%;
	color:#111111;
	font-family:'Helvetica';
    background-color:#fff;
}

#rightDiv {
  position:fixed;
  border-style: solid;
  border-width: 3px;
border-radius: 15px;
  padding: 20px;
  margin-top: 150px;
  left:80%;

}

#rightDiv h2 {
  margin-top: 0px;
}

#rightDiv p {
  text-align: right;
}

#placeOrder {
  padding: 5px 35px;
  font-size: 15px;
    border:1px black solid;
    border-width: 2px;
 background-color:white;
}
#placeOrder :hover{
    cursor:pointer;
    color:grey;
}

#leftDiv {
    float:left; 
}

#leftDiv h1 {
   
  margin-top: 60px;
   width: 30%;
  font-size: 40px;
}

#leftDiv table {
  font-size: 20px;
  width:80%;
  border-collapse: collapse;
}

#leftDiv table tr th {
  width: 30%;
  text-align: center;
  padding: 12px 15px;
  border-bottom-style: solid;
}

#leftDiv table tr td {
  padding: 12px 15px;
  margin: 0px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.remove_btn {
  max-height: 50px;
  max-width: 50px;
}

.quantity_tb {
  max-width: 40px;
  font-size: 20px;
}

@media(max-width:1100px){
    #leftDiv h1{
        float:left;
        font-size: 30px;
    }
    #leftDiv table th{
        display: none;
    }
    #leftDiv table,#leftDiv table tr,#leftDiv table td{
        display:block;
        width:80%;
    }
    #leftDiv table tr{
        margin-bottom: 15px;
    }
    #leftDiv table td{
        text-align: left;
        padding-right:50%;
        text-align: left;
        position: relative;
    }
    #leftDiv table td:first-child{
        font-weight: bold;
    }
     #leftDiv table td:nth-child(5){
        margin-bottom: 50px;
    }
    #rightDiv{
        left:60%;
        
    }
    
}
/* End of CSS for Checkout Page */


/* CSS for Home Page*/

#HomeBody {
  margin:auto;
  width:1100px;
}

.topdiv {
  background-color: #ecede6;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: thin;
  border-color: #d2d4cb;
}

.FullLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.SearchBar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 40%;
  background: #fff;
  height: 30px;
  border-radius: 40px;
  border-style: solid;
  padding: 10px;
}

.SearchBtn {
  color: #fff;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar_tb {
  border:none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  line-height: 30px;
  width: 90%;
}

.leftdiv {
  background-color: #ecede6;
  float:left;
  margin-top: 20px;
  margin-right: 3.6%;
  border-style: solid;
  border-width: thin;
  border-color: #d2d4cb;
  width: 48%;
}

.main_img {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.leftdiv a {
  color: black;
  text-align: right;
  float: right;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
}

.leftdiv a:hover {
  color: #83df4a;
  text-decoration: none;
  font-size: 14px;
}

.rightdiv {
  background-color: #ecede6;
  float:left;
  margin-top: 20px;
  border-style: solid;
  border-width: thin;
  border-color: #d2d4cb;
  width: 48%;
}

.main_img {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.rightdiv a {
  color: black;
  text-align: right;
  float: right;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
}

.rightdiv a:hover {
  color: #83df4a;
  text-decoration: none;
  font-size: 14px;
}

/* End of CSS for Home Page */

/* CSS for Aisle Page*/
#ProduceBody {
  margin:auto;
  width:1100px;
  font-family:'Helvetica';
  line-height:16px;
}

#MeatsBody {
  margin:auto;
  width:1100px;
  font-family:'Helvetica';
  line-height:16px;
}

#leftdiv {
  float: left;
  margin-top: 90px;
  width:300px;
  height: 600px;
}

#leftdiv h1 {
  padding:0px;
  margin:0px; 
  font-size: 32px
}

.ProductImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height:200px;
  max-width:200px;
}

#ProductTable {
  margin-top: 90px;
}

#ProductTable tr {
  height:320px;
  width:240px;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1); 
  display:inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
}

#ProductTable tr:hover{
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3); 
  cursor:pointer;
}

#ProductTable td {
  display:block;
  margin-top: 20px;
}

#ProductTable td a {
  text-decoration: none;
  color:black;
}

.item_name {
  padding-left: 15px;
  font-size:15px;
  font-weight: bold; 
}

.price {
  font-size: 20px;
  padding-left: 15px;
}

/*End of CSS for aisle pages */

/*CSS for product page*/

#ProductPageBody {
  margin:auto;
  width:1100px;
  font-family:'Helvetica';
}

.ProductImg_pp {
  height: 300px;
  width: 300px;
  display: block;
  border:1px solid #000;
  border-radius: 15px;
  float:left;
  margin: 130px 10px 0px 70px
}

#RightDiv {
  display:block;
  float:right;
  margin-top: 130px;
  margin-right:100px;
}

#RightDiv ul{
  left:400px;
  bottom:330px;
  width: 400px;
  list-style-type: none;   
}

#RightDiv ul p{
  font-size: 25px;
}

#RightDiv ul input{
  width:30px;
  height: 20px;
  border:none;
  background-color:cornsilk;   
}

.cartimg{
    max-width: 40%;
}

.addCart{
  border:none;
  background: inherit;
  font-weight: bold;
  height:25px;
  width: 200px;
  background-color:darkgoldenrod;
  color:#fff;
}

.addCart:hover{
  cursor:pointer;
}

#BottomDiv{
  float:left;
  clear: left;
  display: block;
  margin-left: 70px;
  margin-top: 100px;
}

#BottomDiv p {
  font-size: 25px;
}

.decrease {
    font-size:30px;
    color: black;
    border-style: hidden;
    background-color: white;
    font-weight: bold;
}

.decrease:hover {
    color: grey;
    cursor:pointer;
}

.decrease:active {
    color: black;
}

.increase {
    font-size:30px;
    color: black;
    border-style: hidden;
    background-color: white;
    font-weight: bold;
}

.increase:hover {
    color: grey;
    cursor:pointer;
}

.increase:active {
    color: black;
}
/*End of CSS for product page*/


