body {
    font-family: Arial;
}

header {
    width: 100%;
    border-bottom: 1px solid black;
}

header img {
    height: 100%;
}

header nav {
    float: right;
    width: 77%;
    margin-right: 2%;
}

header nav ul {
    list-style: none;
    display: inline;
}

header nav ul li {
    float: right;
    padding-left: 3%;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

#product-table {
    width: 100%;
}

#product-table tr {
    width: 100%;
}

.product-cell {
    width: 29%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid black;
    border-radius: 5px;
}

.product-cell:hover {
    border-width: 2px;
}

.product-img {
    width: 100%;
}

.product-company {
    margin-bottom: 0;
    color: grey;
    margin-left: 3px;
}
    
.product-name {
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 0;
}
    
.product-price {
    margin-top: 5px;
    font-weight: bold;
    margin-left: 2px;
}

#cell-click {
    text-decoration: none;
    color: black;
}

#modal {
    display: none;
    width: 50%;
    color: blue;
}

.modal-exit {
    float: right;
}

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    visibility: hidden;
}

.modal-left {
    float: left;
    width: 44%;
    height: 100%;
    border-right: 1px solid black;
}

.modal-img {
    height: 80%;
    max-width: 100%;
    margin-top: 10%;
}

.modal-exit {
    border-style: hidden;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
}

.modal-exit:hover {
    color: grey;
}

.modal-exit:active {
    color: black;
}

.modal-right {
    float: right;
    width: 50%;
    height: 100%;
    padding-left: 5%;
}

.modal-name {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-left: 5%;
    margin-right: 20%;
    text-align: center;
    margin-bottom: 0px;
}

.modal-company {
    color: grey;
    text-align: right;
    margin-right: 20%;
}

.modal-description {
    text-align: center;
}

.modal-price {
    font-weight: bold;
    margin-left: 5%;
    margin-top: 2px;
}

.modal-price-total {
    font-weight: bold;
    margin-left: 30%;
    margin-top: 0px;
}

.cart {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    margin-top: 0px;
}

.decrease {
    color: black;
    border-style: hidden;
    background-color: white;
    font-weight: bold;
}

.decrease:hover {
    color: grey;
}

.decrease:active {
    color: black;
}

.increase {
    color: black;
    border-style: hidden;
    background-color: white;
    font-weight: bold;
}

.increase:hover {
    color: grey;
}

.increase:active {
    color: black;
}

.add {
    background-color: black;
    color: white;
}

.amount {
    text-align: center;
    width: 25px;
    border: 0px;
}

@media screen and (max-width: 479px) { /* Mobile portrait */
    
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        height: 40px;
        margin-bottom: 30px;
    }

    header nav {
        margin-top: 20px;
    }

    header nav ul li {
        font-size: 15px;
    }

    header nav ul li:hover {
        font-size: 16px;
    }

    #left h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    #product-table {
        border-spacing: 10px;
    }

    .product-company {
        font-size: 70%;
    }
    
    .product-name {
        font-size: 70%;
    }
    
    .product-price {
        font-size: 70%;
        margin-bottom: 3px;
    }

    .modal-box {
        margin-left: -150px;
        margin-top: -200px;
        width: 300px;
        height: 400px;
    }

    .modal-left {
        width: 300px;
        height: 200px;
        margin-left: 25%;
        float: none;
    }

    .modal-right {
        width: 100%;
        float: right;
    }
    
    .modal-name {
        font-size: 15px;
        margin-top: 20px;
        margin-right: 20%;
    }

    .modal-company {
        font-size: 12px;
        margin-top: 2px;
    }

    .modal-exit {
        float: right;
        margin-top: -200px;
    }

    .modal-description {
        margin-right: 10%;
        margin-top: 2%;
        font-size: 13px;
    }

    .modal-price {
        margin-top: 2%;
        font-size: 15px;
        margin-bottom: 2%;
    }

    .modal-price-total {
        font-size: 12px;
    }

    .cart {
        margin-left: 5%;
    }

    .decrease {
        font-size: 15px;
    }

    .increase {
        font-size: 15px;
    }

    .add {
        font-size: 13px;
        border-radius: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 10px;
    }

    .amount {
        font-size: 15px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) { /* Mobile landscape */
    
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        height: 50px;
        margin-bottom: 30px;
    }

    header nav {
        margin-top: 25px;
    }

    header nav ul li {
        font-size: 18px;
    }

    header nav ul li:hover {
        font-size: 19px;
    }

    #left h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    #product-table {
        border-spacing: 10px;
    }

    .product-company {
        font-size: 85%;
    }
    
    .product-name {
        font-size: 85%;
    }
    
    .product-price {
        font-size: 85%;
        margin-bottom: 3px;
    }

    .modal-box {
        margin-left: -225px;
        margin-top: -100px;
        width: 450px;
        height: 200px;
    }

    .modal-name {
        font-size: 17px;
        margin-top: 10px;
    }

    .modal-company {
        font-size: 12px;
        margin-top: 2px;
    }

    .modal-description {
        margin-right: 10%;
        margin-top: 3%;
        font-size: 13px;
    }

    .modal-price {
        margin-top: 5%;
        font-size: 15px;
        margin-bottom: 3%;
    }

    .modal-price-total {
        font-size: 12px;
    }

    .cart {
        margin-left: 5%;
    }

    .decrease {
        font-size: 15px;
    }

    .increase {
        font-size: 15px;
    }

    .add {
        font-size: 13px;
        border-radius: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 10px;
    }

    .amount {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) { /* Tablet portrait */   
    
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        height: 60px;
        margin-bottom: 40px;
    }

    header nav {
        margin-top: 30px;
    }

    header nav ul li {
        font-size: 20px;
    }

    header nav ul li:hover {
        font-size: 21px;
    }

    #left h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    #product-table {
        border-spacing: 10px;
    }

    .product-company {
        font-size: 110%;
    }
    
    .product-name {
        font-size: 110%;
    }
    
    .product-price {
        font-size: 110%;
        margin-bottom: 4px;
    }
    
    .modal-box {
        margin-left: -350px;
        margin-top: -175px;
        width: 700px;
        height: 350px;
    }

    .modal-name {
        font-size: 25px;
        margin-top: 50px;
    }

    .modal-company {
        font-size: 18px;
        margin-top: 2px;
    }

    .modal-description {
        margin-left: 5%;
        margin-right: 20%;
        margin-top: 8%;
        font-size: 18px;
    }

    .modal-price {
        margin-top: 10%;
        font-size: 20px;
        margin-bottom: 5%;
    }

    .modal-price-total {
        font-size: 17px;
    }

    .cart {
        margin-left: 20%;
    }

    .decrease {
        font-size: 20px;
    }

    .increase {
        font-size: 20px;
    }

    .add {
        font-size: 15px;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 30px;
    }

    .amount {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) { /* Tablet landscape + browser */   
    
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        height: 60px;
        margin-bottom: 40px;
    }

    header nav {
        margin-top: 30px;
    }

    header nav ul li {
        font-size: 20px;
    }

    header nav ul li:hover {
        font-size: 21px;
    }

    #left {
        float: left;
        width: 30%;
    }

    #left h1 {
        font-size: 33px;
    }

    #right {
        float: right;
        width: 70%;
        margin-top: 10px;
    }

    #product-table {
        border-spacing: 10px;
    }

    .product-company {
        font-size: 110%;
    }
    
    .product-name {
        font-size: 110%;
    }
    
    .product-price {
        font-size: 110%;
        margin-bottom: 4px;
    }

    .modal-box {
        margin-left: -350px;
        margin-top: -175px;
        width: 700px;
        height: 350px;
    }

    .modal-name {
        font-size: 25px;
        margin-top: 50px;
    }

    .modal-company {
        font-size: 18px;
        margin-top: 2px;
    }

    .modal-description {
        margin-left: 5%;
        margin-right: 20%;
        margin-top: 8%;
        font-size: 18px;
    }

    .modal-price {
        margin-top: 10%;
        font-size: 20px;
        margin-bottom: 5%;
    }

    .modal-price-total {
        font-size: 17px;
    }

    .cart {
        margin-left: 20%;
    }

    .decrease {
        font-size: 20px;
    }

    .increase {
        font-size: 20px;
    }

    .add {
        font-size: 15px;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 30px;
    }

    .amount {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) { /* Browser */    
    
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        height: 70px;
        margin-bottom: 55px;
    }

    header nav {
        margin-top: 35px;
    }

    header nav ul li {
        font-size: 22px;
    }

    header nav ul li:hover {
        font-size: 23px;
    }

    #left {
        float: left;
        width: 27%;
    }

    #left h1 {
        font-size: 34px;
    }

    #right {
        float: right;
        width: 73%;
        margin-top: 10px;
    }

    #product-table {
        border-spacing: 15px;
    }

    .product-company {
        font-size: 110%;
    }
    
    .product-name {
        font-size: 110%;
    }
    
    .product-price {
        font-size: 110%;
        margin-bottom: 4px;
    }

    .modal-box {
        margin-left: -350px;
        margin-top: -175px;
        width: 700px;
        height: 350px;
    }

    .modal-name {
        font-size: 25px;
        margin-top: 50px;
    }

    .modal-company {
        font-size: 18px;
        margin-top: 2px;
    }

    .modal-description {
        margin-left: 5%;
        margin-right: 20%;
        margin-top: 8%;
        font-size: 18px;
    }

    .modal-price {
        margin-top: 10%;
        font-size: 20px;
        margin-bottom: 5%;
    }

    .modal-price-total {
        font-size: 17px;
    }

    .cart {
        margin-left: 20%;
    }

    .decrease {
        font-size: 20px;
    }

    .increase {
        font-size: 20px;
    }

    .add {
        font-size: 15px;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 30px;
    }

    .amount {
        font-size: 18px;
    }
}

@media screen and (min-width: 1600px) { /* Browser */ 

    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        height: 70px;
        margin-bottom: 55px;
    }

    header nav {
        margin-top: 35px;
    }

    header nav ul li {
        font-size: 22px;
    }

    header nav ul li:hover {
        font-size: 23px;
    }

    #left {
        float: left;
        width: 28%;
    }

    #left h1 {
        font-size: 44px;
        margin-left: 20px;
    }

    #right {
        float: right;
        width: 70%;
        margin-top: 10px;
        margin-right: 20px;
    }

    #product-table {
        border-spacing: 20px;
    }

    .product-company {
        font-size: 110%;
    }
    
    .product-name {
        font-size: 110%;
    }
    
    .product-price {
        font-size: 110%;
        margin-bottom: 4px;
    }

    .modal-box {
        margin-left: -350px;
        margin-top: -175px;
        width: 700px;
        height: 350px;
    }

    .modal-name {
        font-size: 25px;
        margin-top: 50px;
    }

    .modal-company {
        font-size: 18px;
        margin-top: 2px;
    }

    .modal-description {
        margin-left: 5%;
        margin-right: 20%;
        margin-top: 8%;
        font-size: 18px;
    }

    .modal-price {
        margin-top: 10%;
        font-size: 20px;
        margin-bottom: 5%;
    }

    .modal-price-total {
        font-size: 17px;
        margin-top: 5px;
    }

    .cart {
        margin-left: 20%;
        margin-bottom: 0px;
    }

    .decrease {
        font-size: 20px;
    }

    .increase {
        font-size: 20px;
    }

    .add {
        font-size: 15px;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 30px;
    }

    .amount {
        font-size: 18px;
    }
}