body {
    font-family: Arial;
}

header {
    width: 100%;
    border-bottom: 1px solid black;
}

header img {
    height: 100%;
}

header nav {
    float: right;
    width: 77%;
    margin-right: 2%;
}

header nav ul {
    list-style: none;
    display: inline;
}

header nav ul li {
    float: right;
    padding-left: 3%;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

#product-table {
    width: 100%;
}

#product-table tr {
    width: 100%;
}

.product-cell {
    width: 29%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid black;
    border-radius: 5px;
}

.product-cell:hover {
    border-width: 2px;
}

.product-img {
    width: 100%;
}

.product-company {
    margin-bottom: 0;
    color: grey;
    margin-left: 3px;
}
    
.product-name {
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 0;
}
    
.product-price {
    margin-top: 5px;
    font-weight: bold;
    margin-left: 2px;
}

#cell-click {
    text-decoration: none;
    color: black;
}

#modal {
    display: none;
    width: 50%;
    color: blue;
}

.modal-exit {
    float: right;
}


@media screen and (max-width: 479px) { /* Mobile portrait */
    
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        height: 40px;
        margin-bottom: 30px;
    }

    header nav {
        margin-top: 15px;
    }

    header nav ul li {
        font-size: 16px;
    }

    #left h1 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    #product-table {
        border-spacing: 10px;
    }

    .product-company {
        font-size: 70%;
    }
    
    .product-name {
        font-size: 70%;
    }
    
    .product-price {
        font-size: 80%;
        margin-bottom: 1px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) { /* Mobile landscape */
    
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        height: 50px;
        margin-bottom: 30px;
    }

    header nav {
        margin-top: 25px;
    }

    header nav ul li {
        font-size: 18px;
    }

    header nav ul li:hover {
        font-size: 19px;
    }

    #left h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    #product-table {
        border-spacing: 10px;
    }

    .product-company {
        font-size: 100%;
    }
    
    .product-name {
        font-size: 100%;
    }
    
    .product-price {
        font-size: 100%;
        margin-bottom: 3px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) { /* Tablet portrait */   
    
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        height: 60px;
        margin-bottom: 40px;
    }

    header nav {
        margin-top: 30px;
    }

    header nav ul li {
        font-size: 20px;
    }

    header nav ul li:hover {
        font-size: 21px;
    }

    #left h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    #product-table {
        border-spacing: 10px;
    }

    .product-company {
        font-size: 110%;
    }
    
    .product-name {
        font-size: 110%;
    }
    
    .product-price {
        font-size: 110%;
        margin-bottom: 4px;
    }    
}

@media screen and (min-width: 1024px) and (max-width: 1199px) { /* Tablet landscape + browser */   
    
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        height: 60px;
        margin-bottom: 40px;
    }

    header nav {
        margin-top: 30px;
    }

    header nav ul li {
        font-size: 20px;
    }

    header nav ul li:hover {
        font-size: 21px;
    }

    #left {
        float: left;
        width: 30%;
    }

    #left h1 {
        font-size: 33px;
    }

    #right {
        float: right;
        width: 70%;
        margin-top: 10px;
    }

    #product-table {
        border-spacing: 10px;
    }

    .product-company {
        font-size: 110%;
    }
    
    .product-name {
        font-size: 110%;
    }
    
    .product-price {
        font-size: 110%;
        margin-bottom: 4px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) { /* Browser */    
    
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        height: 70px;
        margin-bottom: 55px;
    }

    header nav {
        margin-top: 35px;
    }

    header nav ul li {
        font-size: 22px;
    }

    header nav ul li:hover {
        font-size: 23px;
    }

    #left {
        float: left;
        width: 27%;
    }

    #left h1 {
        font-size: 34px;
    }

    #right {
        float: right;
        width: 73%;
        margin-top: 10px;
    }

    #product-table {
        border-spacing: 15px;
    }

    .product-company {
        font-size: 110%;
    }
    
    .product-name {
        font-size: 110%;
    }
    
    .product-price {
        font-size: 110%;
        margin-bottom: 4px;
    }
}

@media screen and (min-width: 1600px) { /* Browser */ 

    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        height: 70px;
        margin-bottom: 55px;
    }

    header nav {
        margin-top: 35px;
    }

    header nav ul li {
        font-size: 22px;
    }

    header nav ul li:hover {
        font-size: 23px;
    }

    #left {
        float: left;
        width: 28%;
    }

    #left h1 {
        font-size: 44px;
        margin-left: 20px;
    }

    #right {
        float: right;
        width: 70%;
        margin-top: 10px;
        margin-right: 20px;
    }

    #product-table {
        border-spacing: 20px;
    }

    .product-company {
        font-size: 110%;
    }
    
    .product-name {
        font-size: 110%;
    }
    
    .product-price {
        font-size: 110%;
        margin-bottom: 4px;
    }

    .modal-box {
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -350px;
        margin-top: -175px;
        width: 700px;
        height: 350px;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        visibility: hidden;
    }
    
    .modal-left {
        float: left;
        width: 44%;
        height: 100%;
        border-right: 1px solid black;
    }

    .modal-img {
        height: 80%;
        margin-top: 10%;
    }

    .modal-exit {
        border-style: hidden;
        background-color: white;
        font-size: 15px;
        font-weight: bold;
        border-radius: 4px;
    }

    .modal-exit:hover {
        color: grey;
    }

    .modal-exit:active {
        color: black;
    }

    .modal-right {
        float: right;
        width: 50%;
        height: 100%;
        padding-left: 5%;
    }

    .modal-name {
        border-bottom: 1px solid black;
        padding-bottom: 2px;
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 20%;
        font-size: 25px;
        text-align: center;
        margin-bottom: 0px;
    }

    .modal-company {
        color: grey;
        text-align: right;
        margin-right: 20%;
        font-size: 18px;
        margin-top: 2px;
    }

    .modal-description {
        margin-left: 5%;
        margin-right: 20%;
        margin-top: 8%;
        font-size: 18px;
        text-align: center;
    }

    .modal-price {
        margin-top: 10%;
        font-size: 20px;
        margin-left: 5%;
        margin-bottom: 10%;
        font-weight: bold;
    }

    .cart {
        display: inline-block;
        margin-left: 20%;
        border: 1px solid black;
        padding: 2px;
        border-radius: 3px;
    }

    .decrease {
        color: black;
        border-style: hidden;
        background-color: white;
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
    }

    .decrease:hover {
        color: grey;
    }

    .decrease:active {
        color: black;
    }

    .increase {
        color: black;
        border-style: hidden;
        background-color: white;
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
    }

    .increase:hover {
        color: grey;
    }

    .increase:active {
        color: black;
    }

    .add {
        font-size: 15px;
        background-color: black;
        color: white;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 30px;
    }

    .amount {
        text-align: center;
        width: 25px;
        border: 0px;
        font-size: 18px;
    }
}