body {
    font-family: Arial;
}

header {
    width: 100%;
    border-bottom: 1px solid black;
}

header img {
    height: 100%;
}

header nav {
    float: right;
    width: 77%;
    margin-right: 2%;
}

header nav ul {
    list-style: none;
    display: inline;
}

header nav ul li {
    float: right;
    padding-left: 3%;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li:hover {
    font-size: 21px;
}

#add, #adder {
    float: right;
    margin-top: 40px;
    margin-right: 2%;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: bold;
}

#orders, #products {
    width: 100%;
    border: 1px solid lightgrey;
    background-color: rgba(231, 231, 231, 0.932);
}
    
#orders tr, #products tr {
    text-align: center;
}

.row, .prow {
    background-color: white;
}

.bedit {
    background-color: white;
    border: none;
}

.bedit:hover {
    background-color: lightgrey;
}

#save {
    float: right;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 2%;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.decrease {
    color: black;
    border-style: hidden;
    background-color: white;
    font-weight: bold;
    visibility: hidden;
}

.decrease:hover {
    color: grey;
}

.decrease:active {
    color: black;
}

.increase {
    color: black;
    border-style: hidden;
    background-color: white;
    font-weight: bold;
    visibility: hidden;
}

.increase:hover {
    color: grey;
}

.increase:active {
    color: black;
}

.amount {
    text-align: center;
    width: 25px;
    border: 0px;
}

@media screen and (max-width: 479px) { /* Mobile portrait */
    
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        height: 40px;
        margin-bottom: 30px;
    }

    header nav {
        margin-top: 15px;
    }

    header nav ul li {
        font-size: 16px;
    }

    h1 {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 30px;
        float: left;
    }

    #orders tr th, #products tr th {
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 11px;
    }

    .row, .prow {
        font-size: 11px;
    }

    .row td, .prow td {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .remove {
        float: right;
        max-height: 27px;
        max-width: 27px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .remove img {
        height: 25px;
        width: 25px;
    }
    
    .remove:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    .edit-button {
        float: right;
        max-height: 15px;
        max-width: 15px;
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .edit-button:hover {
        background-color: rgba(231, 231, 231, 0.932); 
    }
    
    .edit, .bedit {
        float: right;
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .edit img, .bedit img {
        height: 15px;
        width: 15px;
    }
    
    .edit:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    #save {
        float: right;
        font-size: 12px;
        margin-top: 10px;
        margin-right: 2%;
        text-decoration: none;
        color: black;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    #save:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }

    #add, #adder {
        margin-bottom: 10px;
        font-size: 16px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) { /* Mobile landscape */
    
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        height: 50px;
        margin-bottom: 30px;
    }

    header nav {
        margin-top: 25px;
    }

    header nav ul li {
        font-size: 18px;
    }

    header nav ul li:hover {
        font-size: 19px;
    }

    h1 {
        font-size: 25px;
        float: left;
        margin-top: 30px;
    }

    #orders tr th, #products tr th {
        padding-bottom: 7px;
        padding-top: 7px;
        font-size: 14px;
    }

    .row, .prow {
        font-size: 12px;
    }

    .row td, .prow td {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .remove {
        float: right;
        max-height: 35px;
        max-width: 35px;
        
    }
    
    .remove:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    .edit-button {
        float: right;
        max-height: 20px;
        padding-left: 3px;
        padding-right: 3px;
    }
    
    .edit-button:hover {
        background-color: rgba(231, 231, 231, 0.932); 
    }
    
    .edit, .bedit {
        float: right;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .edit img, .bedit img {
        height: 19px;
        width: 19px;
    }
    
    .edit:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    #save {
        float: right;
        margin-top: 10px;
        margin-right: 2%;
        text-decoration: none;
        color: black;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    #save:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }

    #add, #adder {
        margin-bottom: 10px;
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) { /* Tablet portrait */  

    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        height: 60px;
        margin-bottom: 40px;
    }

    header nav {
        margin-top: 30px;
    }

    header nav ul li {
        font-size: 20px;
    }

    header nav ul li:hover {
        font-size: 21px;
    }

    h1 {
        font-size: 30px;
        float: left;
    }

    #orders tr th, #products tr th {
        padding-bottom: 7px;
        padding-top: 7px;
        font-size: 19px;
        margin-top: 10px;
    }

    .row, .prow {
        font-size: 17px;
    }

    .row td, .prow td {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .remove {
        float: right;
        max-height: 38px;
        max-width: 38px;
    }
    
    .remove:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    .edit-button {
        float: right;
        max-height: 21px;
        max-width: 21px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .edit-button:hover {
        background-color: rgba(231, 231, 231, 0.932); 
    }
    
    .edit, .bedit {
        float: right;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .edit img, .bedit img {
        height: 21px;
        width: 21px;
    }
    
    .edit:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    #save {
        float: right;
        margin-top: 10px;
        margin-right: 2%;
        text-decoration: none;
        color: black;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    #save:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }

    #add, #adder {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) { /* Tablet landscape + browser */   
    
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        height: 60px;
        margin-bottom: 40px;
    }

    header nav {
        margin-top: 30px;
    }

    header nav ul li {
        font-size: 20px;
    }

    header nav ul li:hover {
        font-size: 21px;
    }

    h1 {
        font-size: 34px;
        float: left;
    }

    #orders tr th, #products tr th {
        padding-bottom: 7px;
        padding-top: 7px;
        font-size: 19px;
    }

    .row, .prow {
        font-size: 17px;
    }

    .row td, .prow td {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .remove {
        float: right;
        max-height: 38px;
        max-width: 38px;
    }
    
    .remove:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    .edit-button {
        float: right;
        max-height: 21px;
        max-width: 21px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .edit-button:hover {
        background-color: rgba(231, 231, 231, 0.932); 
    }
    
    .edit, .bedit {
        float: right;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .edit img, .bedit img {
        height: 21px;
        width: 21px;
    }
    
    .edit:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    #save {
        float: right;
        margin-top: 10px;
        margin-right: 2%;
        text-decoration: none;
        color: black;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    #save:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) { /* Browser */    
    
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        height: 70px;
        margin-bottom: 55px;
    }

    header nav {
        margin-top: 35px;
    }

    header nav ul li {
        font-size: 22px;
    }

    header nav ul li:hover {
        font-size: 23px;
    }

    h1 {
        font-size: 34px;
        float: left;
    }

    #orders tr th, #products tr th {
        padding-bottom: 7px;
        padding-top: 7px;
        font-size: 19px;
    }

    .row, .prow {
        font-size: 17px;
    }

    .row td, .prow td {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .remove {
        float: right;
        max-height: 38px;
        max-width: 38px;
    }
    
    .remove:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    .edit-button {
        float: right;
        max-height: 21px;
        max-width: 21px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .edit-button:hover {
        background-color: rgba(231, 231, 231, 0.932); 
    }
    
    .edit, .bedit {
        float: right;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .edit img, .bedit img {
        height: 21px;
        width: 21px;
    }
    
    .edit:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    #save {
        float: right;
        margin-top: 10px;
        margin-right: 2%;
        text-decoration: none;
        color: black;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    #save:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
}

@media screen and (min-width: 1600px) { /* Browser */ 

    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        height: 70px;
        margin-bottom: 55px;
    }

    header nav {
        margin-top: 35px;
    }

    header nav ul li {
        font-size: 22px;
    }

    header nav ul li:hover {
        font-size: 23px;
    }

    h1 {
        font-size: 34px;
        float: left;
    }
    
    #orders tr th, #products tr th {
        padding-bottom: 7px;
        padding-top: 7px;
        font-size: 19px;
    }

    .row, .prow {
        background-color: white;
        font-size: 17px;
    }
    
    .row td, .prow td {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .remove {
        float: right;
        max-height: 38px;
        max-width: 38px;
    }
    
    .remove:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    .edit-button {
        float: right;
        max-height: 21px;
        max-width: 21px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .edit-button:hover {
        background-color: rgba(231, 231, 231, 0.932); 
    }
    
    .edit, .bedit {
        float: right;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .edit img, .bedit img {
        height: 21px;
        width: 21px;
    }
    
    .edit:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
    
    #save {
        float: right;
        font-weight: bold;
        font-size: 15px;
        margin-top: 10px;
        margin-right: 2%;
        text-decoration: none;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    #save:hover {
        background-color: rgba(231, 231, 231, 0.932);
    }
}