body {
    font-family: Arial;
    margin: 0px;
}

@media screen and (max-width: 479px) { /* Mobile portrait */

    header {
        height: 50px;
        border-bottom: 1px solid black;
        padding-right: 3%;
    }

    #headerImage {
        height: 48px;
        margin-left: 1px;
        margin-top: 1px;
    }

    #headerMenu {
        list-style-type: none;
        display: inline;
    }

    #headerMenu li {
        float: right;
        margin-right: 4%;
        font-size: 20px;
        margin-top: 15px;
    }

    #headerMenu li a {
        text-decoration: none;
        color: black;
    }

    #headerMenu li a:hover {
        text-decoration: underline;
    }

    #headerAisles {
        background-color: white;
        border: none;
        font-size: 20px;
        height: 23px;
        margin-top: -2.5px;
        padding: 0px;
    }

    #headerAisles:hover {
        text-decoration: underline;
    }

    #aisles {
        visibility: hidden;
        position: absolute;
        background-color: white;
        width: 200px;
        left: 100%;
        margin-left: -280px;
        margin-top: -1px;
        border: 1px solid black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #aisles ul {
        list-style-type: none;
        margin-left: -25px;
    }

    #aisles ul li {
        padding-bottom: 10px;
        font-size: 18px;
    }

    #aisles ul li a {
        text-decoration: none;
        color: black;
    }

    #aisles ul li a:hover {
        text-decoration: underline;
    }

    #topBox {
        background-color: #ecede6;
        margin-bottom: 4px;
        margin-top: 4px;
        border-bottom: 1px solid #cbccc3;
        border-top: 1px solid #cbccc3;
    }

    #topBox img {
        width: 90%;
        margin-left: 5%;
    }

    .aisleRow {
        width: 100%;
        display: inline-block;
    }

    .aisleBoxLeft {
        float: left;
        margin-left: 1%;
        width: 48%;
        border: 1px solid #cbccc3;
    }

    .aisleBoxRight {
        float:right;
        margin-right: 1%;
        width: 48%;
        border: 1px solid #cbccc3;
    }

    .aisleBoxLeft img, .aisleBoxRight img {
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) { /* Mobile landscape */
    header {
        height: 65px;
        border-bottom: 1px solid black;
        padding-right: 3%;
    }

    #headerImage {
        height: 63px;
        margin-left: 1px;
        margin-top: 1px;
    }

    #headerMenu {
        list-style-type: none;
        display: inline;
    }

    #headerMenu li {
        float: right;
        margin-right: 4%;
        font-size: 20px;
        margin-top: 25px;
    }

    #headerMenu li a {
        text-decoration: none;
        color: black;
    }

    #headerMenu li a:hover {
        text-decoration: underline;
    }

    #headerAisles {
        background-color: white;
        border: none;
        font-size: 20px;
        height: 23px;
        margin-top: -2.5px;
        padding: 0px;
    }
    
    #headerAisles:hover {
        text-decoration: underline;
    }

    #aisles {
        visibility: hidden;
        position: absolute;
        background-color: white;
        width: 200px;
        left: 100%;
        margin-left: -280px;
        margin-top: -1px;
        border: 1px solid black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #aisles ul {
        list-style-type: none;
        margin-left: -25px;
    }

    #aisles ul li {
        padding-bottom: 10px;
        font-size: 18px;
    }

    #aisles ul li a {
        text-decoration: none;
        color: black;
    }

    #aisles ul li a:hover {
        text-decoration: underline;
    }

    #topBox {
        background-color: #ecede6;
        margin-bottom: 4px;
        margin-top: 4px;
        border-bottom: 1px solid #cbccc3;
        border-top: 1px solid #cbccc3;
    }

    #topBox img {
        width: 90%;
        margin-left: 5%;
    }

    .aisleRow {
        width: 100%;
        display: inline-block;
        margin-top: 6px;
    }

    .aisleBoxLeft {
        float: left;
        margin-left: 1%;
        width: 48%;
        border: 1px solid #cbccc3;
    }

    .aisleBoxRight {
        float:right;
        margin-right: 1%;
        width: 48%;
        border: 1px solid #cbccc3;
    }

    .aisleBoxLeft img, .aisleBoxRight img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) { /* Tablet portrait */

}

@media screen and (min-width: 1024px) and (max-width: 1199px) { /* Tablet landscape + browser */

}

@media screen and (min-width: 1200px) and (max-width: 1599px) { /* Browser */

}

@media screen and (min-width: 1600px) { /* Browser */

}