.head{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
    
ul li{

    display: inline-block;
    text-align: right;
}
/* ul li a {
    word-spacing: 5px;
} */

.navbar {
    text-align: right;
}

 #foodtype {
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: lighter;
} 

div {
    border: 1px solid black;
    height: 300px;
    width: 250px;
    margin: 50px;
}
.d1 div{
    display: inline-block;
}
.d2 div{
    display: inline-block
}
.d3 div{
    display: inline-block
}

.content {
    /*border: 1px solid black;*/
    padding-left: 500px; 
}